<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Annoucements</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/uikit.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
    </head>
    <body>

<nav class="uk-navbar-container uk-navbar-light uk-box-shadow-medium"  uk-sticky="" uk-navbar >  
   
<div class="uk-navbar-left">
    <a href="/" class="uk-navbar-item uk-logo   "  >Church</a>
  <ul class="uk-navbar-nav">

    <li class="uk-parent  uk-hidden@lg uk-active"><a class="navund " href="/announcement">Annoucements</a></li>
    <li class="uk-parent  uk-hidden@lg "><a class="navund " href="/sermon">Sermon</a></li>
    </ul>
</div>
</nav>

<%# ---------main annoucemnet %>
<div class="container">
<article class="uk-article m-4 my-white p-5 uk-box-shadow-small">
<h2 class="uk-article-title" style=" font-family: Playfair Display, Georgia, Times New Roman, serif; margin-bottom: 0;" ><a class="uk-link-reset" href=""><%=found.name%></a></h2>
<hr>
 <%if(found.image.length!==0){%>
<img src="<%= found.image%>" alt="<%=found.title%> Image" style="width:100%; height:auto" >
<%}%>
<p class="uk-article-meta uk-text-right">Created on <%= found.created.toDateString()%> </p>
<p class="uk-text-justify"><%-found.description%></p> 
         <div class="btn-group  " >
       <form action="/announcement/<%=found._id%>?_method=DELETE" method="POST" >
         <button  class="btn  btn-sp btn-outline-secondary">Delete</button>
         </form> 
         <!-- Launch modal -->
         <a value="Edit" href=""  class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalLive" >Edit</a>
         </div> 
         </article>
</div>

   <!-- modal content-->
   <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLiveLabel">Edit <%=found.name%></h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
       <form action="/announcement/<%=found._id%>?_method=PUT" method="POST" >
          <div class="form-group">
          <label for=""> <strong class="strong" >Title</strong></label>
          <input type="text"
            class="form-control" name="blog[name]" id="" aria-describedby="helpId" value="<%=found.name%>">
          </div>

          <div class="form-group">
          <label for=""> <strong class="strong" >Annoucement</strong></label>
          <textarea rows="5" cols="" class="form-control" name="blog[description]" > <%=found.description%> </textarea>
          </div>
          
          <div class="form-group">
          <label for=""><strong class="strong" >Image</strong></label>
          <input type="text"
            class="form-control" name="blog[image]" id="" aria-describedby="helpId" value="<%=found.image%>">
          </div>
         
          <div class="form-group">
          <label for="" class="uk-form-label"><strong class="strong" >Event</strong>:</label>
          <br>
          <label for="" >True <input class="uk-radio" type="radio" name="blog[optradio]" value="<%=found.type%>"></label>
          <label for="" >False <input class="uk-radio" type="radio" name="blog[optradio]" value="<%=found.type%>"></label>
          
          </div>
          <button  class="btn btn-primary " href=""  >Submit</button>
          </form>
          </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary " data-dismiss="modal" >Close</button>
       </div>
     </div>
   </div>

   </div>

  
<%  include ./partials/footer %>